* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgb(193, 216, 248) 0%,
    rgb(185, 241, 231) 90%
  );
}

main {
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}
header {
  padding: 20px;
  display: flex;
}
/* TEXTO ANIMADO */
.texto-animado {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 5s steps(15) infinite alternate,
    blink 10ms steps(15) infinite normal;
  border-right: 2px solid #000;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}

.input-texto {
  margin-top: 50px;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

.mensagem {
  position: relative;
  outline: none;
  resize: none;
  border: none;
  text-align: center;
  margin-left: 90px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.copiar {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #54ffcc 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(35, 66, 47, 0.4) 0 2px 4px,
    rgba(35, 70, 47, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  margin-left: 50%;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.copiar:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.botoes {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 20px;
}

.encriptar {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.encriptar:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.encriptar:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.desencriptar {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.desencriptar:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.desencriptar:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.informacao {
  padding: 10px;
  font-size: 10px;
}
.informacao::before {
  content: "🛈 ";
}

footer {
  color: #000;
  font-size: 15px;
  text-align: center;
}
